table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    margin: auto;
}

td{
    width: 100px;
    height: 100px;
    vertical-align: center ;
    text-align: center;
    padding: 30px;
}

img{
    width: 120px;
    height: 75px;
}